<!DOCTYPE html>
<html>
<body>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
<title>Login Page</title>
<header class="header">
<div class="top-bar">
  <a href="/">Home</a>
  <a href="/tournaments">Tournaments</a>
  <a href="/news">News</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</div>
</header>
<img class="header-underthing" src="/images/underthing.png">
<a href="/loginpage" class="host-button">Host a Tournament</a>
<img class="team-logo" src="/images/teamlogobetter.webp">
<div class="home-content">
  <p>Login to Host, Edit or Delete a tournament!</p>
</div>
<div class="login-form">
  <form action="/logins/login" method="POST">
    <label for="username" class="username-text">Username</label>
    <br>
    <input type="text" id="username" name="username" required>
    <br><br>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  
    <a class="register-button" href="/logins/new">Register</a>
</div>
<footer class="footer">
<p class="team-text">Team JustONS©️</p>
</footer>
</body>
</html> 

