<!DOCTYPE html>
<html>
<body>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
<title>Register Page</title>
<header class="header">
<div class="top-bar">
  <a href="/">Home</a>
  <a href="/tournaments">Tournaments</a>
  <a href="/news">News</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</div>
</header>
<img class="header-underthing" src="/images/underthing.png">
<a href="/add_tournament" class="orange-button">Host a Tournament</a>

<img class="team-logo" src="/images/teamlogobetter.webp">
<div class="addtournament-content">
  <p>Please enter your username and password to register</p><br><br>
  <form action="/logins" method="POST">
    <label for="user">Username:</label>
    <input type="text" id="user" name="user" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
    <br><br>
    <button type="submit">Submit</button>
</form>
</div>

<footer class="footer">
<p class="team-text">Team JustONS©️</p>
</footer>
</body>
</html> 

