<!DOCTYPE html>
<html>
<body>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<title>Home Page</title>
<header class="header">
<div class="top-bar">
  <a href="/">Home</a>
  <a href="/tournaments">Tournaments</a>
  <a href="/news">News</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</div>
</header>
<img class="header-underthing" src="/images/underthing.png">
<a href="/tournaments/new" class="orange-button">Host a Tournament</a>
<a href="/loginpage" class="login-button">Login</a>


<img class="team-logo" src="/images/teamlogobetter.webp">
<div class="home-content">
  <p>Home Text Place Holder</p>
</div>

<footer class="footer">
<p class="team-text">Team JustONS©️</p>
</footer>
</body>
</html> 

