<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<div class="top-bar">
  
  <a href="/">Home</a>
  <a href="/survey">Survey</a>
  <a href="/about">About</a>
</div>
<p class="team-text">Team JustONS</p>
</body>
</html> 

