<!DOCTYPE html>
<html>
<body>
<title>Home Page</title>
<header class="top-bar">
    <img class="team-logo" src="/images/teamlogobetter.webp">
    <a href="/">Home</a>
    <a href="/tournaments">Tournaments</a>
    <a href="/news">News</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</header>
<a class="login-button" href="/logins/new">Login</a>
</body>
</html> 

<style>
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

body{
    background-color: #b8bccc;
}
.team-logo{
    position: relative;
    top: 27px;
    left: 26px;
    width: 100px; 
    height: auto;
}
.top-bar a{
    font-family:'Cabin';
    font-weight: 500;
    color: #073747;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 55px;
    padding-right: 20px;
}

.login-button {
    font-family:'Cabin';
    font-weight: 500;
    color: #073747;
    text-decoration: none;
    position: relative;
    top: -19px;
    left: 1769px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffA500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
}


</style>