@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 35, 35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.header {
  background-color: white;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Josefin Sans';
  font-size: 15px;
}

.footer {
  background-color: rgb(42, 42, 42);
  color: white;
  padding: 1px; 
  text-align: center; 
  display: flex;
  align-items: center; 
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Josefin Sans';
  font-size: 15px;
}


.team-logo {
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  width: 160px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 15px;
}

.top-bar {
  overflow: hidden;
  font-family: 'Mukta', sans-serif;
  font-weight: bolder;
  position: relative;
  margin-left: 175px;
  margin-top: 19px;
  margin-bottom: 15px;
}

.top-bar a {
  color: #073747;
  text-align: left;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.top-bar a:hover {
  color: rgb(120, 179, 219);
}

.header-underthing {
  position: relative;
  top: 48px;
  left: 0;
  width: 1922px;
  height: auto;
}

.team-text{
  margin-top: 1;
  margin-bottom: 1;
}

.home-content{
  font-family: 'Josefin Sans';
  font-size: 35px;
  color: rgb(228, 232, 128);;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



/*Tournament Page*/
.tournament-content{
  font-family: 'Josefin Sans';
  font-size: 35px;
  color: rgb(228, 232, 128);;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.orange-button {
  position: fixed;
  top: 16px;
  right: 20px; 
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ffA500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: 'Josefin Sans';
  font-weight: bold;
}

.orange-button:hover {
  background-color: #ff8c00; 
}

.login-button {
  position: fixed;
  top: 16px;
  right: 234px; 
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(117, 155, 94);;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: 'Josefin Sans';
  font-weight: bold;
}

.tournament-list{
  font-family: 'Josefin Sans';
  font-size: 20px;
  color: rgb(228, 232, 128);;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 10px;
}


/*Add Tournament Page */
.addtournament-content{
  font-family: 'Josefin Sans';
  font-size: 30px;
  color: rgb(228, 232, 128);;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}